@import url("basic.css");

/* -- page layout ----------------------------------------------------------- */

body {
    font-family: Georgia, serif;
    font-size: 17px;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    min-width: 250px;
}
div.body {
    background-color: #fff;
    color: #3E4349;
    padding: 0 30px 0 30px;
    min-width: 250px;
}
